@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {

font-family: 'Montserrat', sans-serif;
}
:root {
    --primary-color:  #34D399;
}

/**container**/
.container {
   padding: 0rem 1rem;
}
.container-centre {

    max-width: 600px;
    margin: auto;
}
/**links**/
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.link-primary {
    background-color: var(--primary-color);
   border-radius: 0.5rem;
   color: white;
}
.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}